@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400&display=swap');

html, body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: background 0.2s linear;
  width: 101%;
  }

  ::selection {
    background-color: rgb(204, 198, 187);
  }

*,
*:before,
*:after {
  box-sizing: border-box; }

  .screen {
    width: 1000px;
    height: 606.25px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    zoom: 125%;
    border-radius: 23px;
  
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
    -webkit-box-shadow: 30px 30px 48px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 30px 30px 48px rgba(0, 0, 0, 0.4);
            box-shadow: 30px 30px 48px rgba(0, 0, 0, 0.4);
  }
  
  .screen::before {
    content: "";
    display: block;
    height: 1px;
  }
  
  @media (max-width: 1350px) {
    .screen {
      width: 100%;
      min-height: 100vh;
      margin: 0 auto;
      left: 0;
      top: 0;
      transform: none;
      box-shadow: none;
      zoom: 100%;
      border-radius: 0px;
      background-color: rgb(255,216,156);
    }
    body {
      background-color: rgb(255,216,156);
    }
  }

  h1 {
    color: #fff;
    position: relative;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: 1px 1px 2px black;
    font-family: 'Belanosima', 'Open Sans';
    transition: background 0.2s linear;
  }

  h1:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    left: 0;
    bottom: -8px;
    background: #fff;
    transition: 500ms all ease-in-out;
  }

  .one-half.left:hover h1:after,
  .one-half.right:hover h1:after {
  width: 100%;
}

  

  .h1-l {
    font-size: 2vw;
  }
  .h1-r {
    font-size: 2vw;
  }
  
  a.cta {
    display: block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 120px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 13px 13px 0px 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
  a.cta:before {
    content: '';
    background: #fff;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms all ease-in-out;
  }

  a.cta:hover:before {
    height: 4px;
  }
  
  .container {
    background: rgb(255,216,156);
    background: linear-gradient(90deg, rgba(255,216,156,1) 0%, rgba(162,205,176,1) 75%);
    width: 100%;
    height: 100%;
    position: relative;
  }
  .container .one-half {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 500ms all ease-in-out;
  }
  .container .one-half.left {
    left: 0;
    background: url("assets/home/sd.webp") center center no-repeat;
    background-size: cover;
    filter: brightness(100%)
  }
  .container .one-half.left:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(241, 194, 123, 0.5);
    position: absolute;
  }
  .container .one-half.right {
    right: 0;
    background: url("assets/home/gpt.webp") center center no-repeat;
    background-size: cover;
    filter: brightness(100%)
  }
  .container .one-half.right:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(133, 163, 137, 0.5);
    position: absolute;
  }
  .container .one-half.left, .container .one-half.right {
    transition: 500ms all ease-in-out;
  }
  .container .one-half.left:before, .container .one-half.right:before {
    transition: 500ms all ease-in-out;
  }
  
  @media (max-width: 768px) {
    .container .one-half.left,
    .container .one-half.right {
    position: relative;
    width: 100%;
    height: 50%; }

    .h1-l {
      font-size: 8vw;
    }
    .h1-r {
      font-size: 8vw;
    }
  }



  .theme {
    height: 5%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 1.75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 52px;
    border-radius: 100px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 15px;
  }
  
  .fa-moon {
    color: lightseagreen;
    height: 125%;
  }
  
  .fa-sun {
    color: goldenrod;
    height: 115%;
  }
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 100%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(48px);
  }

  @media (max-height: 850px) {
    .checkbox-label {
      top: 7px;
      width: 50px;
      height: 26px;
      border-radius: 50px;
    }
    .checkbox-label .ball {
      width: 22px;
      height: 22px;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 50%;
  
    }
    .checkbox:checked + .checkbox-label .ball {
      transform: translateX(24px);
    }
    .fa-moon {
      color: lightseagreen; 
      height: 225%;
    }
    .fa-sun {
      color: goldenrod; 
      height: 225%;
    } 
  }